# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.DS_Store

# Android
local.properties
*.apk
*.aab
*.ap_
*.dex

# iOS
iosApp/Pods/
iosApp/.symlinks/
iosApp/iosApp.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/xcuserdata/
*.xcuserstate

# Kotlin
*.class
*.jar
*.war
.kotlin/

# OS
Thumbs.db
